
body{
    background-image: url("");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;  
    color: black;/*impostare a bianco una volta collegata img di background*/
    font-family:Arial, Helvetica, sans-serif;  
/*CONTENITORE PRINCIPALE*/
}
#contenitoreP1{
    margin-left: 10%;
    font-size: 0.6rem;
    line-height: 1.4;
    margin-bottom: 0%;
   
}
/*LOGO*/

#logoP1{
    width: 90px;
    margin: 5px 5px;
}
/*TITOLO*/

h1{
    font-weight: lighter;
    font-size: 2rem;
    line-height: 0.8;
    margin-top: 5%;
}
/*ISTRUZIONI*/
h2{
    color: rgb(165, 2, 111);
    margin-bottom: 0;
}
p{ 
    margin-top: 0;
}
/*LISTA*/
ul{
    padding-inline-start:12px;
}
/*FORM: BOTTONE +CHECKBOX*/
form{margin-top: 4%;}

input{
    width: 8px;
    height: 8px;
    cursor: pointer;
}
a{
    text-decoration: none;
    font-weight: bolder;
}

button{
    margin-left: 100px;
   background-color: rgb(0, 225, 255);
   border: none;
   box-shadow: 0px 2px 20px rgb(0, 225, 255);
   font-size: 0.8em;
   width: 70px;
   height: 20px;
}