
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Inter', sans-serif;
    background-image: url(/assets/img/bg.jpg);
    background-size: cover;
    margin: 0;
    color: white;
}

/*SEZIONE HEADER*/
/*logo epicode*/
.logo{
    width: 120px;
    padding: 50px;
}

/*SEZIONE MAIN*/
.caratteriCentrati{
    text-align: center;
}

h1,h2{
    font-family: 'Outfit',sans-serif;
}
.caratteriCentrati h2{
    font-size: 60px;
}

.caratteriCentrati p{
    font-size: 25px;
}

#spazioImmagini{
    padding: 30px;
}

.formDesign input{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid violet;
    padding: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    width: 100%;
   
}

.formDesign{
    width: 40%;
    margin: 0 auto;
}
/*footerClass*/
.footerCentrato{
    text-align: center;
    padding: 40px;
}

#fakeButton{
    background-color: aqua;
    border: none;
    font-size: 30px;
    padding: 15px;
    font-weight: bold;
    box-shadow: 0px 0px 23px 0px aqua;

}

/* css 3page- Esperanza */

.container-card {
   /*  display: flex;
    flex-direction: row;
    justify-content: center; */
    width: 100%;
    text-align: center;
  
    
}
.card {
  display: inline-block; 
    width: 25%;
    height: 25vh;
    text-align: center;
  /*   background-color: red; */

    
}
.container-card .card:nth-child(2){
     width: 49%;
     height: 40vh;
     position: relative;
   /*   background-color: antiquewhite; */
}

#container-circle{
    
  position: absolute;
  left: 25%;
  top: 0%;
}

.position {
   /*   width: 160px;
     height: 160px; */
     cursor: pointer;
}
.progress-circle{
  width: 30vw;
  height: 50vh;
 margin-top: 0;
}

.inner{
    fill: none;
    stroke: #D20094 ;
    stroke-width: 60px;
}
.outer {
    fill: none;
    stroke: #00ffff;
    stroke-width: 60px;
    stroke-dasharray: 0 999;
    stroke-dashoffset: 0px;
    transition: stroke-dasharray 0.5s linear 0s; 
}
.text {
    width: 55%;
    position: absolute;
    top: 25%;
    left: 5%;
    text-align: center;
}


/* css 2page- Milena */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700;900&display=swap');


 header {
    margin: 0 auto;
    padding: 50px;
  }
  
  header img {
    padding-left: 50px;
  }
  
  main div {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    font-size: 5rem;
    font-weight: 100;
  }
  
  .risposte {
    padding-left: 20em;
    padding-right: 20em;
    margin: 1rem;
    width: 20%;
    min-height: 10em;
    border-radius: 80px;
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
  }
  
  .risposte span{
      font-size:2em;
  }
  
  #questions {
      text-align: center;
      padding-top: 4%;
      font-size: 2rem;
      font-weight: 100;
  }
  
  
 .buttonSimple {
    background-color: transparent;
    border: 1px solid white;
    font-size: 30px;
    font-weight: bold;
    text-align: center; 
    width: fit-content;
    padding: 10px 40px;
    margin: 0px;
    color: white;
}